* {
  width: 360px;
  max-height: 800px;
  margin: auto;
  font-family: 'Lexend', sans-serif;
  box-sizing: border-box;
}


h1 {
  weight: 600;
  font-size: 36px;
  text-align: center;
  color: white;
  padding: 10px;
}

p {
  weight: 400;
  font-size: 17px;
  text-align: center;
  color: white;
}

.title {
  padding-bottom: 20px;
}

button {
  background-color: #E39906;
  border: none;
  padding: 10px;
  text-align: center;
  font-family: 'Lexend';
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  align-items: flex-start;
}

button:hover {
  background-color: #FF9A45;
  /* color: white; */
}

i {
  width: auto;
  padding: 0 10px;
  
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.banner {
  float: left;
  width: 360px;
  height: 180px;
  z-index: 1;
}

.logo {
  height: 160px;
  width: 160px;
  margin-left: 25%;
  z-index: 2;
  margin-top: -20%;
  /* position: relative; */
}

.content {
  background-color: #BA5951;
  height: 100vh;
}